body .FormClass
{
    background-color: #d3d3d3;

}
.FormClass
{
    margin : 30px 30px 0px;
    padding: 10px;
}
.FormClass .fields
{
    margin-top: 5PX;
  
}
.FormClass select
{
    margin-top: 2PX;
    margin-bottom: 6px;
}
.submit
{
    background-color: #003399;
}

.cancel
{
    background-color : #a9a9a9 ;
}
.SubmissionClass
{
    align-content: right ;
}